<ion-header [translucent]="true" class="scheule-page-header">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8" class="ion-text-center"><ion-title>{{station_name}} Station Departures</ion-title></ion-col>
        <ion-col size="2">{{ today | date: 'shortTime' }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="trainview-content">
  <form *ngIf="showForm" [formGroup]="trainViewForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item>
        <ion-select formControlName="selectedRoute" label="Select Route" placeholder="Select" (ionChange)="onSelectionRoute($event)">
        <ion-select-option 
          *ngFor="let item of route_items" 
          [value]="item.route_id"> <!-- Bind the value to a unique ID -->
          {{ item.route_long_name }} <!-- Display the name to the user -->
        </ion-select-option>
        </ion-select>
      </ion-item>
       <!-- Error message display -->
      <ion-item *ngIf="hasError('selectedRoute', 'required')">
        <ion-label color="danger">Please select an option.</ion-label>
      </ion-item>
      <ion-item>
        <ion-select formControlName="selectedStop" label="Select Stop" placeholder="Select">
          <ion-select-option *ngFor="let stop_item of stop_items" [value]="stop_item.stop_id">
            {{stop_item.stop_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Error message display -->
      <ion-item *ngIf="hasError('selectedStop', 'required')">
        <ion-label color="danger">Please select an option.</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" class="ion-margin-top">
      Get Schedules
    </ion-button>
  </form>
  @let date_placeholder = (today | date: 'fullDate');
  <ion-grid class="schedules" *ngIf="!showForm">
  <ion-row>
    <!--
      On small screens and up (sm, md, lg, xl), this column takes up 6 of 12 columns (50%).
      On extra small screens (default), it takes up all 12 columns (100%).
    -->
    <ion-col size="12" size-sm="6">
      <div class="ion-text-center sub-header ion-padding">Towards Aluva</div>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" style="font-weight: bold;">Arrival Time</ion-col>
      </ion-row>
      @for (inbound_trip of inbound_trips; track inbound_trip.trip_id) {
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            {{date_placeholder +' '+inbound_trip.arrival_time | date: 'shortTime'}}
          </ion-col>
        </ion-row>
      }
    </ion-col>
    <!-- This column behaves the same as the one above -->
    <ion-col size="12" size-sm="6">
      <div class="ion-text-center sub-header ion-padding">Towards Thrippunithura</div>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center" style="font-weight: bold;">Arrival Time</ion-col>
      </ion-row>
      @for (outbound_trip of outbound_trips; track outbound_trip.trip_id) {
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            {{date_placeholder +' '+outbound_trip.arrival_time | date: 'shortTime'}}
          </ion-col>
        </ion-row>
      }
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="logUserOut()">Log out</ion-button>
  </ion-toolbar>
</ion-footer>
